.bag-button {
  background-color: lightgreen;
  border: none;
  padding: 5px 20px;          /* shorthand for top/bottom and left/right */
  border-radius: 15px;
}

.wish-button {
  padding: 7px 35px;
  border: 2px solid black;
  border-radius: 10px;
  text-transform: uppercase;
}
